@import '/src/styles/variables';

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: $btn-color;
    background: $btn-bg-color;
    border-radius: $btn-border-radius;
    padding: $btn-padding-y $btn-padding-x;
    gap: 10px;
    cursor: pointer;
    border: none;
    &:hover {
        background-color: $btn-bg-color-hover;
        color: $btn-color-hover;
        border-color: $btn-bg-color-active;
    }
    &.active {
        color: $btn-color-active;
        background: $btn-bg-color-active;
        border: none;
        &:hover {
            color: $btn-color-active-hover;
            background-color: $btn-bg-color-active-hover;
        }
        &:disabled {
            pointer-events: none;
            opacity: 0.65;
        }
    }
}
