@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
    background-color: $white-color;
}

.content {
    gap: 30px;
    width: calc(100% - $sidebar-width);
    min-height: 200vh;
    transition: $linear-tss;
    padding-top: $header-height;
    margin-left: $sidebar-width;
    margin-right: 0;
    &.padding-top {
        padding-top: $header-shrink-height;
    }
}

@include mobile {
    .content {
        padding-top: $header-shrink-height;
    }
}

@include small-desktop {
    .content {
        margin-left: 0;
        width: 100%;
    }
}
