@import '/src/styles/variables';
@import '/src/styles/mixins';

.Inner {
    @include flex-column();
    gap: 3rem;
    padding: 4rem 0;
}

.Heading {
    @include flex-center();
}

.Title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    color: $green-color-7;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $green-color-7;
    }
}

// Form
.FormContainer {
    @include grid(column, 3, 1fr, 3rem);
    margin-bottom: 4rem;
}

.FormItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: $white-color-2;
    border-radius: $border-radius;
    padding: 2rem;
    gap: 1.5rem;
    transition: all 0.3s ease-in-out;
    &:hover {
        transform: scale(1.1);
        cursor: pointer;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }
}

.FormIconWrapper {
    padding: 2.5rem;
    border-radius: $border-radius;
    border: 2px solid $green-color-7;
}

.FormIcon {
    font-size: 4rem;
    color: $green-color-7;
}

.FormTitle {
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
}

@include tablet {
    .FormContainer {
        @include grid(column, 2, 1fr, 2rem);
    }
}

@include mobile {
    .FormContainer {
        @include grid(column, 1, 1fr, 1.5rem);
    }
}