@import '/src/styles/variables';
@import '/src/styles/mixins';

// Container
.NavWrapper {
    @include flex(center, center, 3rem);
}

.NavItem {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    &.Active {
        color: $green-regular-color;
    }
    &::after {
        position: absolute;
        left: 0;
        bottom: -0.4rem;
        content: '';
        height: 0.2rem;
        width: 0;
        transition: $ease-in-out-tss;
    }
    &:hover::after {
        width: 100%;
        background-color: $green-regular-color;
    }
}

.Close {
    display: none;
}

// Overlay
.Overlay {
    display: none;
}

@include mobile {
    .Container,
    .Overlay {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        transition: $linear-tss;
    }
    // Container
    .Container {
        width: 70%;
        padding-top: 4rem;
        z-index: 20;
        border-top-left-radius: $border-radius;
        border-bottom-left-radius: $border-radius;
        background-color: $white-color;
        transform: translateX(100%);
        &.Visible {
            transform: translate(0);
            opacity: 1;
        }
    }
    .NavWrapper {
        flex-direction: column;
        gap: 2rem;
    }
    .Close {
        @include flex-center();
        position: absolute;
        top: 2rem;
        left: 2rem;
        transition: $linear-tss;
        &:hover {
            color: $gray-regular-color;
        }
    }
    // Overlay
    .Overlay {
        display: block;
        left: 0;
        visibility: hidden;
        background-color: rgba($black-color, 0.3);
        &.Visible {
            opacity: 1;
            visibility: visible;
        }
    }
}
