@import '/src/styles/variables';
@import '/src/styles/mixins';

.Container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem;
    gap: 4rem;
    .Header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        .Title {
            font-weight: bold;
            text-transform: uppercase;
            font-size: larger;
        }
        .Action {
            flex: 1 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
        }
    }
}
@include tablet {
    .Container {
        padding: 2rem;
        gap: 2rem;
    }
}
@include mobile {
    .Container {
        padding: 0.5rem;
        gap: 0.5rem;
    }
}
