@import '/src/styles/variables';
@import '/src/styles/mixins';

.container {
  background-color: rgba($green-color-5, 0.02);
}

.content {
  width: 100%;
  min-height: 200vh;
  transition: $linear-tss;
  padding-top: $header-height;
  &.padding-top {
    padding-top: $header-shrink-height;
  }
}

@include mobile {
  .content {
    padding-top: $header-shrink-height;
  }
}
