$dark-color: #d1d5d8;
$dark-bg: rgba(var(--c-neutral-900), var(--comay-bg-opacity));
$dark-bg-menu: rgba(var(--c-neutral-800), var(--comay-bg-opacity));
$dark-bg-focus: rgba(var(--c-neutral-700), var(--comay-bg-opacity));
$dark-border-color: rgba(var(--c-neutral-500), var(--comay-border-opacity)) !important;;
$dark-placeholder-color: #6b7280;
.dark {
  font-family: "Montserrat", sans-serif !important;
  input,
  textarea {
    color: $dark-color;
  }
  input:focus,
  textarea:focus {
    color: $dark-color;
  }
  .css-13cymwt-control {
    background-color: $dark-bg !important;
    border-color: $dark-border-color;
    :focus {
      background-color: $dark-bg !important;
      border-color: $dark-border-color;
    }
  }
  .css-1jqq78o-placeholder {
    font-family: inherit;
    color: $dark-placeholder-color;
  }
  .css-qbdosj-Input,
  .css-1dimb5e-singleValue {
    font-family: inherit;
    color: $dark-color;
  }
  .custom-select__input-container {
    color: $dark-color !important;
  }
  .custom-select__control--is-focused {
    background-color: $dark-bg-focus !important;
  }
  .custom-select__control--is-disabled {
    background-color: #e9ecef;
  }
  .form-control:disabled {
    background-color: #e9ecef;
  }
  .custom-select__menu {
    background-color: $dark-bg-menu !important;
    color: $dark-color !important;
  }
  .ql-snow .ql-picker {
    color: $dark-color !important;
  }
  .ql-snow .ql-stroke {
    stroke: $dark-color !important;
  }
}
