@import '/src/styles/variables';
@import '/src/styles/mixins';

$padding: 3rem;

@include tablet {
  $padding: 1.5rem;
}
@include mobile {
  $padding: 0.25rem;
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  padding: 3rem 0;
}
.Title {
  font-weight: bolder;
}
.Content > * {
  img {
    width: 100% !important;
  }
  text-align: justify;
}
.Share {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
