@import '../../styles/index.scss';

$size: ($l, $m, $s, $xs);

.logo {
  font-weight: bold;
  @include flex(center, center);
  .logo-name {
    @include flex(flex-start, center);
    flex-direction: column;
    & > span:last-of-type {
      color: #72bf44;
    }
  }
}

// Responsive
@each $var in $size {
  @include respond($var) {
    .logo {
      font-size: 1.4rem;
    }
  }
}
