@import '/src/styles/variables';
@import '/src/styles/mixins';

.body {
    @include grid(column, 3, 1fr, 3rem);
}

.card-item {
    border: 1px solid transparent;
    border-bottom: 0.4rem solid $primary-color;
    transition: $ease-in-out-tss;
    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

.card-body {
    padding: 2rem;
}

.card-title,
.summary {
    @include text-justify();
    line-height: 1.6;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.card-subtitle {
    @include flex(center, flex-start, 1rem);
    .create-time {
        display: inline;
        color: #333;
        padding: 0.25rem 1rem;
        font-size: 1.2rem;
        border-radius: 0.5rem;
        background-color: rgb(193, 193, 193);
    }
    .category-name {
        background-color: rgb(0, 162, 255);
        color: white;
        padding: 0.25rem 1rem;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        text-align: center;
    }
}

.summary {
    font-size: 1.3rem;
    // text-indent: 3rem;
}

.action {
    display: block;
    margin-left: auto;
    padding: 1rem 1.5rem;
    border-top: 1px solid $primary-color;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .action-item {
        font-weight: bold;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@include tablet {
    .body {
        @include grid(column, 2, 1fr, 2rem);
    }
}

@include mobile {
    .body {
        @include grid(column, 1, 1fr, 4rem);
    }
}
