@import '/src/styles/variables';
@import '/src/styles/mixins';

.Inner {
    @include flex-column();
    gap: 3rem;
    padding: 4rem 0;
}

.Heading {
    @include flex-center();
}

.Title {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.5;
    color: $green-color-7;
    position: relative;
    &::after {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: $green-color-7;
    }
}

.GridPosts {
    @include grid(column, 3, 1fr, 3rem);
}

.CardItem {
    // scss-docs-start card-css-vars
    --#{$prefix}card-spacer-y: #{$card-spacer-y};
    --#{$prefix}card-spacer-x: #{$card-spacer-x};
    --#{$prefix}card-title-spacer-y: #{$card-title-spacer-y};
    --#{$prefix}card-border-width: #{$card-border-width};
    --#{$prefix}card-border-color: #{$card-border-color};
    --#{$prefix}card-border-radius: #{$card-border-radius};
    --#{$prefix}card-box-shadow: #{$card-box-shadow};
    --#{$prefix}card-inner-border-radius: #{$card-inner-border-radius};
    --#{$prefix}card-cap-padding-y: #{$card-cap-padding-y};
    --#{$prefix}card-cap-padding-x: #{$card-cap-padding-x};
    --#{$prefix}card-cap-bg: #{$card-cap-bg};
    --#{$prefix}card-cap-color: #{$card-cap-color};
    --#{$prefix}card-height: #{$card-height};
    --#{$prefix}card-color: #{$card-color};
    --#{$prefix}card-bg: #{$card-bg};
    --#{$prefix}card-img-overlay-padding: #{$card-img-overlay-padding};
    --#{$prefix}card-group-margin: #{$card-group-margin};
    // scss-docs-end card-css-vars

    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--#{$prefix}card-height);
    word-wrap: break-word;
    background-color: var(--#{$prefix}card-bg);
    background-clip: border-box;
    border: var(--#{$prefix}card-border-width) solid
        var(--#{$prefix}card-border-color);
    @include border-radius(var(--#{$prefix}card-border-radius));
    @include box-shadow(var(--#{$prefix}card-box-shadow));
    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

.CardBody {
    // Enable `flex-grow: 1` for decks and groups so that card blocks take up
    // as much space as possible, ensuring footers are aligned to the bottom.
    flex: 1 1 auto;
    padding: var(--#{$prefix}card-spacer-y) var(--#{$prefix}card-spacer-x);
    color: var(--#{$prefix}card-color);
}

.CardImg {
    width: 100%;
    height: 25rem;
    @include border-radius(var(--#{$prefix}card-inner-border-radius));
}

.CardTitle {
    text-align: justify !important;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}

.CardInfo {
    display: flex;
    gap: 0.5rem;
    justify-content: space-around;
    align-items: center;
    > .CardTime {
        flex: 1 0 auto;
        width: auto;
    }
    > * {
        padding: 0.5rem !important;
    }
}

.Summary {
    text-align: justify;
}

.Action {
    display: flex;
    margin: auto 1rem;
    padding: 1rem 1.5rem;
    border-top: 1px solid $primary-color;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .ActionItem {
        font-weight: bold;
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

@include tablet {
    .GridPosts {
        @include grid(column, 2, 1fr, 2rem);
    }
}

@include mobile {
    .GridPosts {
        @include grid(column, 1, 1fr, 4rem);
    }
}
