@import '/src/styles/variables';
@import '/src/styles/mixins';

.body {
    @include grid(column, 3, 1fr, 3rem);
}

.card-item {
    border: 1px solid transparent;
    border-bottom: 0.4rem solid $primary-color;
    transition: $ease-in-out-tss;
    &:hover {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }
}

.card-body {
    padding: 2rem 2rem 4rem 2rem;
}

.card-title,
.card-text {
    @include text-justify();
    line-height: 1.6;
}

.card-title {
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.card-subtitle {
    @include flex(center, flex-start, 1rem);
    &,
    span {
        color: #333;
        font-size: 1.2rem;
    }
}

.card-text {
    font-size: 1.3rem;
    text-indent: 3rem;
}

.more-btn {
    display: block;
    margin-left: auto;
    padding: 1rem 1.5rem;
    border: 1px solid $primary-color;
    border-radius: $border-radius;
    font-size: 1.3rem;
}

@include tablet {
    .body {
        @include grid(column, 2, 1fr, 2rem);
    }
}

@include mobile {
    .body {
        @include grid(column, 1, 1fr, 4rem);
    }
}
