@import '/src/styles/variables';
@import '/src/styles/mixins';

$bottom: 2rem;

.back-to-top {
    @include flex-center();
    padding: 0.75rem;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    color: $green-color-8;
    border: 1px solid $green-color-5;
    border-radius: $border-radius;
    transition: $linear-tss;
    background: transparent;
    opacity: 0;
    visibility: hidden;
    transform: translateY(calc(100% + $bottom));
    &:hover {
        background-color: $green-color-8;
        color: $white-color;
    }
    &.visible {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }
}
